<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct Clothing</title>
    <link rel="stylesheet" href="/UI/backend/src/main/resources/static/style.css">
</head>
<body>
    <div class = "header">
        <h1>Direct Clothing</h1>
    </div>

    <div class = "sidebar" id ="sidebar">
        <h1>Catalog</h1>

        <a>T-Shirts</a>
        <a>Pants</a>
        <a>Shorts</a>
    </div>

    <button onclick='showSidebar()'>
        <span></span>
        <span></span>
        <span></span>
    </button>
    <div class="products" id="products">
    </div>

    <script src="/UI/backend/src/main/resources/static/script.js"></script>
</body>
</html>
