<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct Clothing</title>
    <link rel="stylesheet" href="/catalog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
</head>
<body>
    <header>
        <div class="logo"><a href="/">Direct Clothing</a></div>
        <div class="icons">
            <span><a href="#"><i class="fa far fa-user-circle"></i></a></span>
            <span><a href="#"><i class="fa fa-file"></i></a></span>
            <span id="mini-cart-button" onclick="openCart()" style="position: relative; cursor: pointer;">
                <i class="fa fas fa-shopping-bag"></i>
                <span id="cart-count" class="cart-count" th:text="${cartSize}" th:style="${cartSize == 0 ? 'display: none;' : 'display: inline;'}"></span>
            </span>
        </div>
    </header>
    
    <div id="cart-ui" class="cart-ui">
        <div class="cart-content">
            <span class="close-cart" onclick="closeCart()">&times;</span>
            <h2>Your Cart</h2>
            <div id="cart-items">
                <div class="cart-item" th:each="cartItem : ${cartItems}" th:id="${cartItem.item.getSKU()}">

                    <img th:src="@{'/' + ${cartItem.item.getProduct().getImageLink()}}">
                    <div>
                        <p th:text="${cartItem.item.getProduct().getDescription()}"></p>
                        <p th:text="'PHP ' + ${cartItem.item.getDiscountedPrice()}"></p>
                        <button th:data-itemSKU="${cartItem.item.getSKU()}" th:onclick="removeFromCart(this.getAttribute('data-itemSKU'))">Remove</button>
                    </div>
                </div>
            </div>
            <button><a href="/shopping-bag">Checkout</a></button>
        </div>
    </div>

    <section class="bestsellers">
        <div class="tabs">
            <button id="normal-items-button" class="tab-button active" onclick="showTab('normal-items')">Normal Items</button>
            <button id="monthly-specials-button" class="tab-button" onclick="showTab('monthly-specials')">Monthly Specials</button>
            <button id="close-out-items-button" class="tab-button" onclick="showTab('close-out-items')">Close-Out Items</button>
        </div>
    
        <div id="normal-items" class="tab-content active">
            <div class="products">
                <div th:each="catalogItem : ${normalItems}" class="product" th:data-itemSKU="${catalogItem.getSKU()}"
                    th:data-imageLink="@{'/' + ${catalogItem.getProduct().getImageLink()}}"
                    th:data-description="${catalogItem.getProduct().getDescription()}"
                    th:data-price="${catalogItem.getPrice()}"
                    th:onclick="openPopup(this.getAttribute('data-itemSKU'), this.getAttribute('data-imageLink'), this.getAttribute('data-description'), this.getAttribute('data-price'))">
    
                    <img th:src="@{'/' + ${catalogItem.getProduct().getImageLink()}}">
                    <p th:text="${catalogItem.getProduct().getDescription()}"></p>
                    <p class="if-discount" th:if="${catalogItem.getDiscount() != 0.00}" th:text="'Php. ' + ${catalogItem.getPrice()}"></p>
                    <p class="normal"th:text="'PHP ' + ${catalogItem.getPrice()}"></p>
                </div>
            </div>
        </div>
    
        <div id="monthly-specials" class="tab-content">
            <div class="products">
                <div th:each="catalogItem : ${monthlySpecials}" class="product" th:data-itemSKU="${catalogItem.getSKU()}"
                    th:data-imageLink="@{'/' + ${catalogItem.getProduct().getImageLink()}}"
                    th:data-description="${catalogItem.getProduct().getDescription()}"
                    th:data-price="${catalogItem.getDiscountedPrice()}"
                    th:onclick="openPopup(this.getAttribute('data-itemSKU'), this.getAttribute('data-imageLink'), this.getAttribute('data-description'), this.getAttribute('data-price'))">
    
                    <img th:src="@{'/' + ${catalogItem.getProduct().getImageLink()}}">
                    <p th:text="${catalogItem.getProduct().getDescription()}"></p>
                    <p class="if-discount" th:if="${catalogItem.getDiscount() != 0.00}" th:text="'Php. ' + ${catalogItem.getPrice()}"></p>
                    <p th:text="'PHP ' + ${catalogItem.getDiscountedPrice()}"></p>
                </div>
            </div>
        </div>
    
        <div id="close-out-items" class="tab-content">
            <div class="products">
                <div th:each="catalogItem : ${closeOuts}" class="product" th:data-itemSKU="${catalogItem.getSKU()}"
                    th:data-imageLink="@{'/' + ${catalogItem.getProduct().getImageLink()}}"
                    th:data-description="${catalogItem.getProduct().getDescription()}"
                    th:data-price="${catalogItem.getDiscountedPrice()}"
                    th:onclick="openPopup(this.getAttribute('data-itemSKU'), this.getAttribute('data-imageLink'), this.getAttribute('data-description'), this.getAttribute('data-price'))">
    
                    <img th:src="@{'/' + ${catalogItem.getProduct().getImageLink()}}">
                    <p th:text="${catalogItem.getProduct().getDescription()}"></p>
                    <p class="if-discount" th:if="${catalogItem.getDiscount() != 0.00}" th:text="'Php. ' + ${catalogItem.getPrice()}"></p>
                    <p th:text="'PHP ' + ${catalogItem.getDiscountedPrice()}"></p>
                </div>
            </div>
        </div>
    </section>
        
        
        <div id="popup" class="popup">
            <div class="popup-content">
                <span class="close" onclick="closePopup()">&times;</span>
                <img id="popup-img" src="" >
                <h2 id="popup-title"></h2>
                <p id="popup-price"></p>
                <button id="add-to-cart">Add to Cart</button>
            </div>
        </div>
        
    </section>

    <script src="/catalog.js"></script>
    <script th:inline="javascript">
        function addToCart(itemID) {
            let title = document.getElementById('popup-title').innerText;
            let price = document.getElementById('popup-price').innerText;
            let image = document.getElementById('popup-img').src;
            
            var catalogKey = [[${catalogKey}]];
            
            fetch("/item-added?catalog=" + catalogKey , {
                method: 'POST', 
                headers: {'Content-Type': 'text/plain',},
                body: itemID
            })
                .then(response => {
                    if (response.status === 500) throw new Error("Item is out of stock! Failed to add item to cart.");
                    
                    return response.text();
                })
                .then(cartSize => {
                    var cartContainer = document.getElementById('cart-items');
                    if (cartSize === "1") {
                        cartContainer.innerHTML = '';
                    }
                    
                    cartContainer.innerHTML += `
                        <div class="cart-item" id="${itemID}">
                            <img src="${image}">
                            <div>
                                <p>${title}</p>
                                <p>${price}</p>
                                <button onclick="removeFromCart('${itemID}')">Remove</button>
                            </div>
                        </div>
                    `;
                    document.getElementById('cart-count').style.display = "inline";
                    document.getElementById('cart-count').innerText = cartSize;

                    alert("Added to cart!");
                })
                .catch(error => alert(error));

            closePopup();
        }
    </script>

</body>
</html>