<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct Clothing</title>
    <link rel="stylesheet" href="/homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
</head>
<body>
    <header>
        <div class="logo"><a href="/">Direct Clothing</a></div>
        <div class="icons">
            <span><a href="#"><i class="fa far fa-user-circle"></i></a></span>
            <span><a href="#"><i class="fa fa-file"></i></a></span>
            <span onclick="openCart()" style="position: relative; cursor: pointer;">
                <i class="fa fas fa-shopping-bag"></i>
                <span id="cart-count" class="cart-count" th:text="${cartSize}" th:style="${cartSize == 0 ? 'display: none;' : 'display: inline;'}"></span>
            </span>
        </div>
    </header>
    
    <div id="cart-ui" class="cart-ui">
        <div class="cart-content">
            <span class="close-cart" onclick="closeCart()">&times;</span>
            <h2>Your Cart</h2>
            <div id="cart-items">
                <div class="cart-item" th:each="cartItem : ${cartItems}" th:id="${cartItem.item.getSKU()}">

                    <img th:src="@{'/' + ${cartItem.item.getProduct().getImageLink()}}">
                    <div>
                        <p th:text="${cartItem.item.getProduct().getDescription()}"></p>
                        <p th:text="'PHP ' + ${cartItem.item.getDiscountedPrice()}"></p>
                        <button th:data-itemSKU="${cartItem.item.getSKU()}" th:onclick="removeFromCart(this.getAttribute('data-itemSKU'))">Remove</button>
                    </div>
                </div>
            </div>
            <button><a href="/shopping-bag">Checkout</a></button>
        </div>
    </div>
    

    <section th:each="catalog : ${catalogs}" class="hero">
        <div class="hero-text">
            <h1 th:text="${catalog.name}"></h1>
            <p th:text="${catalog.dateProduced}"></p>
            <button><a th:href="@{'/catalog?key=' + ${catalog.key}}">Check Out</a></button>
        </div>
    </section>


    <section class="bestsellers">
        <h2>Featured</h2>
        <div class="products">
            <div class="product" onclick="openPopup('img/1.jpg', 'Coca-Cola Sweater', 'PHP 1,699')">
                <img src="/img/1.jpg" alt="coca-cola">
                <p>Coca-Cola Sweater</p>
                <p>PHP 1,699</p>
            </div>
        </div>
        
        
        <div id="popup" class="popup">
            <div class="popup-content">
                <span class="close" onclick="closePopup()">&times;</span>
                <img id="popup-img" src="" alt="Product Image">
                <h2 id="popup-title"></h2>
                <p id="popup-price"></p>
                <button onclick="addToCart()">Add to Cart</button>
            </div>
        </div>
        
    </section>

    <script th:inline="javascript">
        function addToCart(itemID) {
            let title = document.getElementById('popup-title').innerText;
            let price = document.getElementById('popup-price').innerText;
            let image = document.getElementById('popup-img').src;
            
            var catalogKey = [[${catalogKey}]];
            
            fetch("/item-added?catalog=" + catalogKey , {
                method: 'POST', 
                headers: {'Content-Type': 'text/plain',},
                body: itemID
            })
                .then(response => {
                    if (response.ok) {
                        alert("Added to cart!");
                        let cartContainer = document.getElementById('cart-items');
                        
                    } else if (response.status === 500) alert("Item does not exist! Failed to add item to cart.");
                    
                    return response.text();
                })
                .then(cartSize => {
                    var cartContainer = document.getElementById('cart-items');
                    if (cartSize === "0") cartContainer.innerHTML = "";

                    cartContainer.innerHTML += `
                        <div class="cart-item" id="${itemID}">
                            <img src="${image}">
                            <div>
                                <p>${title}</p>
                                <p>${price}</p>
                                <button onclick="removeFromCart('${itemID}')">Remove</button>
                            </div>
                        </div>
                    `;
                    document.getElementById('cart-count').style.display = "inline";
                    document.getElementById('cart-count').innerText = cartSize;
                })

            closePopup();
        }
    </script>
    <script src="homepage.js"></script>
</body>
</html>