<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Direct Clothing</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
</head>
<body>
    <header>
        <div class="logo">Direct Clothing</div>
        <div class="icons">
            <span><a href="#"><i class="fa far fa-user-circle"></i></a></span>
            <span><a href="#"><i class="fa fa-file"></i></a></span>
            <span onclick="openCart()" style="position: relative; cursor: pointer;">
                <i class="fa fas fa-shopping-bag"></i>
                <span id="cart-count" class="cart-count">0</span>
            </span>             
        </div>
    </header>
    
    <div id="cart-ui" class="cart-ui">
        <div class="cart-content">
            <span class="close-cart" onclick="closeCart()">&times;</span>
            <h2>Your Cart</h2>
            <div id="cart-items"></div>
            <button><a href="#">Checkout</a></button>
        </div>
    </div>
    

    <section class="hero">
        <div class="hero-text">
            <h1>Summer Wear:2025</h1>
            <p>The Summer Wear 2025 collection</p>
            <button><a href="summer">Out</a></button>
        </div>
    </section>

    <section class="summer-collection">
        <div class="collection-text">
            <h2>Blazing Chic</h2>
            <p>Walk with style</p>
        </div>
    </section>

    <section class="bestsellers">
        <h2>Featured</h2>
        <div class="products">
            <div class="product" onclick="openPopup('img/1.jpg', 'Coca-Cola Sweater', 'PHP 1,699')">
                <img src="/img/1.jpg" alt="coca-cola">
                <p>Coca-Cola Sweater</p>
                <p>PHP 1,699</p>
            </div>
            <div class="product" onclick="openPopup('img/2.jpg', 'Coca-Cola Shirt', 'PHP 599')">
                <img src="/img/2.jpg" alt="coca-cola-shirt">
                <p>Coca-Cola Shirt</p>
                <p>PHP 599</p>
            </div>
            <div class="product" onclick="openPopup('img/3.jpg', 'Blue Shirt', 'PHP 599')">
                <img src="/img/3.jpg" alt="blue-shirt">
                <p>Blue Shirt</p>
                <p>PHP 599</p>
            </div>
            <div class="product" onclick="openPopup('img/4.jpg', 'Snoopy Sweater ', 'PHP 1,099')">
                <img src="/img/4.jpg" alt="snoopy-sweater">
                <p>Snoopy Sweater</p>
                <p>PHP 1,099</p>
            </div>
            <div class="product" onclick="openPopup('img/1.jpg', 'Coca-Cola Sweater', 'PHP 1,699')">
                <img src="/img/1.jpg" alt="coca-cola">
                <p>Coca-Cola Sweater</p>
                <p>PHP 1,699</p>
            </div>
            <div class="product" onclick="openPopup('img/2.jpg', 'Coca-Cola Shirt', 'PHP 599')">
                <img src="/img/2.jpg" alt="coca-cola-shirt">
                <p>Coca-Cola Shirt</p>
                <p>PHP 599</p>
            </div>
            <div class="product" onclick="openPopup('img/3.jpg', 'Blue Shirt', 'PHP 599')">
                <img src="/img/3.jpg" alt="blue-shirt">
                <p>Blue Shirt</p>
                <p>PHP 599</p>
            </div>
            <div class="product" onclick="openPopup('img/4.jpg', 'Snoopy Sweater ', 'PHP 1,099')">
                <img src="/img/4.jpg" alt="snoopy-sweater">
                <p>Snoopy Sweater</p>
                <p>PHP 1,099</p>
            </div>
            <div class="product" onclick="openPopup('img/1.jpg', 'Coca-Cola Sweater', 'PHP 1,699')">
                <img src="/img/1.jpg" alt="coca-cola">
                <p>Coca-Cola Sweater</p>
                <p>PHP 1,699</p>
            </div>
            <div class="product" onclick="openPopup('img/2.jpg', 'Coca-Cola Shirt', 'PHP 599')">
                <img src="/img/2.jpg" alt="coca-cola-shirt">
                <p>Coca-Cola Shirt</p>
                <p>PHP 599</p>
            </div>
            <div class="product" onclick="openPopup('img/3.jpg', 'Blue Shirt', 'PHP 599')">
                <img src="/img/3.jpg" alt="blue-shirt">
                <p>Blue Shirt</p>
                <p>PHP 599</p>
            </div>
            <div class="product" onclick="openPopup('img/4.jpg', 'Snoopy Sweater ', 'PHP 1,099')">
                <img src="/img/4.jpg" alt="snoopy-sweater">
                <p>Snoopy Sweater</p>
                <p>PHP 1,099</p>
            </div>
        </div>
        
        
        <div id="popup" class="popup">
            <div class="popup-content">
                <span class="close" onclick="closePopup()">&times;</span>
                <img id="popup-img" src="" alt="Product Image">
                <h2 id="popup-title"></h2>
                <p id="popup-price"></p>
                <button onclick="addToCart()">Add to Cart</button>
            </div>
        </div>
        
    </section>

    <script src="homepage.js"></script>
</body>
</html>