<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Out</title>
    <link rel="stylesheet" href="shoppingbag.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header>
        <div class="logo"><a href="/">Direct Clothing</a></div>
    </header>
    
    <div id="content">
        <div id="cart-container">
            <h1>Shopping Bag</h1>
            <div class="card" th:each="cartItem : ${shoppingItems}" th:id="${cartItem.getItem().getSKU()}">
                <div>
                    <div>
                        <img th:src="@{'/' + ${cartItem.getItem().getProduct().getImageLink()}}">
                    </div>
                    <div>
                        <p th:text="${cartItem.getItem().getFromCatalog()}"></p>
                        <p th:text="${cartItem.getItem().getProduct().getDescription()}"></p>
                        <button th:id="'removeButton_id' + ${cartItem.getItem().getSKU()}">Remove</button>
                    </div>
                </div>
                <div>
                    <button th:id="'addButton_id' + ${cartItem.getItem().getSKU()}">-</button>
                    <input type="number" th:id="'quantity_id' + ${cartItem.getItem().getSKU()}" th:value="${cartItem.getQuantity()}" min="1">
                    <button th:id="'subButton_id' + ${cartItem.getItem().getSKU()}">+</button>
                </div>
                <div>
                    <p class="if-discount" th:if="${cartItem.getItem().getDiscount() != 0.00}" th:id="'rawPrice_id' + ${cartItem.getItem().getSKU()}" th:text="'PHP ' + ${cartItem.getItem().getPrice()}"></p>
                    <p th:text="'PHP ' + ${cartItem.getItem().getDiscountedPrice()}" th:id="'discountedPrice_id' + ${cartItem.getItem().getSKU()}"></p>
                </div>
            </div>

        </div>
        <div id="order-summary">
            <h1>Order Summary</h1>
            <div th:each="cartItem : ${shoppingItems}" class="order-item" th:id="'orderLine_id' + ${cartItem.getItem().getSKU()}">
                <div>
                    <p class="catalog" th:text="${cartItem.getItem().getFromCatalog()}"></p>
                    <p class="product" th:text="${cartItem.getItem().getProduct().getDescription()}"></p>
                </div>
                <p class="quantity" th:text="'Qty. ' + ${cartItem.getQuantity()}" th:id="'orderLineQty_id' + ${cartItem.getItem().getSKU()}"></p>
                <p class="price" th:text="'PHP ' + ${cartItem.getItem().getDiscountedPrice()}" th:id="'orderLinePrice_id' + ${cartItem.getItem().getSKU()}"></p>
            </div>
        
            <div class="total-container">
                <h3>Total</h3>
                <p class="total" th:text="'PHP ' + ${totalAmount}" id="totalAmt"></p>
            </div>
            
            <button onclick="openPaymentInput()">Check Out</button>
        </div>             
    </div>



    <div id="payment-window">
        <span class="close" onclick="document.getElementById('payment-window').style.display='none'">&times;</span>
        <h2>Payment Details</h2>
        <h4>Total Amount</h4>
        <span>PHP 0.00</span>
        <div class="tab-container">
            <div class="tab active" onclick="showTab('check')">Check</div>
            <div class="tab" onclick="showTab('creditCard')">Credit Card</div>
        </div>
        
        <div id="check-form" class="payment-form active">
            <form method="POST" action="/order-by-cp">
                <label for="bank">Bank</label>
                <select id="bank" name="bank"></select>
                <label for="drawer">Drawer</label>
                <input type="text" id="drawer" name="drawer" placeholder="Enter drawer name">
                <label for="account-num">Account Number</label>
                <input type="text" id="account-num" name="account-num" placeholder="Must be 8-12 digits">
                <label for="payee">Payee</label>
                <input type="text" id="payee" name="payee" value="Direct Clothing" readonly>
                <label for="routing-num">Routing Number</label>
                <input type="text" id="routing-num" name="routing-num" readonly>
                <label for="check-num">Check Number</label>
                <input type="text" id="check-num" name="check-num" readonly>
                <input type="submit" value="Place Order">
            </form>
        </div>

        <div id="creditCard-form" class="payment-form">
            <form method="POST" action="/order-by-ccp">
                <label for="creditCard">Credit Card</label>
                <select id="creditCard" name="creditCard"></select>
                <label for="creditCardNumber">Card number</label>
                <input type="text" id="creditCardNumber" name="creditCardNumber" placeholder="Enter credit card number">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" name="cvv" placeholder="Enter CVV">
                <label for="cardHolderName">Cardholder name</label>
                <input type="text" id="cardHolderName" name="cardHolderName" placeholder="Enter your name">
                <input type="submit" value="Place Order">
            </form>
        </div>
    </div>


    <script src="shoppingbag.js"></script>
</body>
</html>