<!DOCTYPE html>
<html lang="en" xlmns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Out</title>
    <link rel="stylesheet" href="shoppingbag.css">
</head>

<body>

    <div id="title">
        <h1>Your Shopping Bag</h1>
    </div>

    <div id="content">
        <div id="cart-container">

            <div class="card" th:each="cartItem : ${shoppingItems}" th:id="${cartItem.getItem().getSKU()}">
                <div>
                    <div>
                        <img th:src="@{'/' + ${cartItem.getItem().getProduct().getImageLink()}}">
                    </div>
                    <div>
                        <p th:text="${cartItem.getItem().getFromCatalog()}"></p>
                        <p th:text="${cartItem.getItem().getProduct().getDescription()}"></p>
                        <button>Remove</button>
                    </div>
                </div>
                <div>
                    <button>-</button>
                    <input type="number" th:value="${cartItem.getQuantity()}" min="1">
                    <button>+</button>
                </div>
                <div>
                    <p class="if-discount" th:if="${cartItem.getItem().getDiscount() != 0.00}" th:text="'PHP ' + ${cartItem.getItem().getPrice()}"></p>
                    <p th:text="'PHP ' + ${cartItem.getItem().getDiscountedPrice()}"></p>
                </div>
            </div>

        </div>
        <div id="order-summary">
            <h1>Order Summary</h1>
            <div th:each="cartItem : ${shoppingItems}" class="order-item">
                <div>
                    <p class="catalog" th:text="${cartItem.getItem().getFromCatalog()}"></p>
                    <p class="product" th:text="${cartItem.getItem().getProduct().getDescription()}"></p>
                </div>
                <p class="quantity" th:text="'Qty. ' + ${cartItem.getQuantity()}"></p>
                <p class="price" th:text="'PHP ' + ${cartItem.getItem().getDiscountedPrice()}"></p>
            </div>
        
            <div class="total-container">
                <h3>Total</h3>
                <p class="total" th:text="'PHP ' + ${totalAmount}"></p>
            </div>
            
            <button onclick="payment()">Place Order</button>
        </div>             
    </div>


    <script src="shoppingbag.js"></script>
</body>
</html>